/* Remove default margins and set background color */
body {
    margin: 0;
    background: rgba(15, 99, 152, 0.71);
}
/* Header styling */
header{
    font-family: 'Montserrat', sans-serif;
    height: 150px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    background: #b3e5fc;
}
/* Navigation menu styling */
header > nav > menu{
    display: flex;
    list-style: none;

}
header > nav > menu > li{
    padding: 0px 15px;

}
header > nav > menu > li > a{
    color: #0e0e0e;
}
/* logo image styling */
header img {
    height: 200px;
}
/* Main heading styling and font */
h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #ffffff;
}
/* A lot of styling for the order form and setting the font */
div {
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    width: 500px;
    margin: auto;
}

input, select, textarea, button, label {
    font-size: 1.2rem;
}

input, select, textarea, button {
    border-radius: 5px;
}

input[type="radio"], input[type="checkbox"] {
    border-radius: 50%;
}

select {
    border-radius: 5px;
}

textarea {
    border-radius: 5px;
}

button {
    border-radius: 5px;
    background-color: #3366ff;
    color: #fff;
    padding: 10px 20px;
    border: 0;
}
/*Form styling ends here*/

/*Footer styling and anchor */
footer {
    text-align: center;
    padding: 10px;
    background: #b3e5fc;
}
